.big-image {
  background-image: url("./images/RNF7.png");
  /*height: 88vh;
  width: 100vw;*/
  /*width: 'device-width';
  height: 'device-height';*/
  width: 100%;
  top: 0;
  /*width: '100%';
  height: '100%';*/
  /*position: relative;*/
  /*background-size: cover;*/
  background-size:auto;
  height: 88vh;
  background-repeat: no-repeat;
  /*background-size: auto;*/
  /*background-position: 50% 50%;*/
  background-position: center;
}

.overlay {
  position: absolute;
  margin-top: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fitter{
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.fab {
  display:flex;
  flex:1;
  /*right:auto;
  bottom: auto;*/
  text-align: right;
  align-self:flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  position: fixed;
  bottom: 10%;
  right: 3%;
  /*display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;*/
}

.socialPacket{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 1em;
}

.socialFixed{
  height: 100%;
  width: 100%;
  /*border-radius: 15em;*/
  border-radius: 50%;
  font-size: 2em;
  align-self: flex-end;
  margin: 3%;
  /*position: absolute;
  right: 0;
  z-index:15;*/
}

button {
  cursor: pointer;
}

.socialNetwork{
  margin-top: 0;
  font-size: 0.5em;
}

.social {
  height: 2em;
  width: 6em;
  border-radius: 15em;
  margin-bottom: 0;
  font-size: 2em;
}

.socialNetwork2 {
  margin-top: 0;
  font-size: 0.5em;
}

.socialEmail{
  font-size: 2em;
}

.content {
  /*background-color: hsl(100, 50%, 70%);*/
  /*background: linear-gradient(to right, black, 20%, cyan);*/
  background-image: url("./images/portfoliobg.jpg");
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
  /*text-align: center;
  align-items: center;
  align-self: center;
  align-content: center;
  justify-content: center;*/
}

.contentOverlay {
  position: relative;
  height: 100%;
  width: 100%;
  /*top: 0;
  left: 0;*/
  background: rgba(0, 0, 0, 0.65);
  color: white;
}


.overlay2 {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 1.5em;
}

.shags {
  height: 60%;
  width: 30%;
  border-radius: 50%;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:beige;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 2px solid black;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 1.5em;
  background-image: url("./images/RNF8.png");
}

.container2 {
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 0;
}

.contained2Left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 0.5vw solid yellow;
}

.contained2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: sticky;
  top: 0px;
  background-color: linear-gradient(to right, black, 20%, cyan);
  border-radius: 10%;
  /*height: 60px;
  width: 210px;*/
  height: 3em;
  width: 10em;
  display: flex;
  line-height: 3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid yellow;
  /*FOR DIFFERENT BROWSERS*/
  /*position: -webkit-sticky.*/
}

.verMas {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /*hover:*/
}

.verMasBotton {
  display: inline-block;
  background-color: gray;
  border-radius: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  /*height: 3.5rem;
  width: 12rem;*/
  /*height: 4rem;
  width: 12rem;*/
  /*height: 4vw;
  width: 14vw;*/
  /*line-height: 4vw;*/
  color: white;
  font-size: large;
  /*font-size: 3vh;*/
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.verMasBotton:hover {
  background-color: darkgray;
  border-radius: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  /*height: 3.5rem;
  width: 12rem;*/
  /*height: 4vh;
  width: 12vh;*/
  color: white;
  font-size: large;
  cursor: pointer;
}

.bothApps {
  height: 45%;
  width: 45%;
  border-radius: 1.5em;
}

.description {
  color:white;
  margin: 5vw;
}

@media (max-height: 432px) {
  .socialNetwork{
    margin-top: 0;
    font-size: 0.25em;
  }
  
  .social {
    height: 1.6em;
    width: 4.5em;
    border-radius: 15em;
    margin-bottom: 0;
    font-size: 2em;
  }
}

@media (max-width: 400px){
  .info {
    float:left;
    color: white;
    max-width: 100%;
    overflow-x: scroll;
    font-size: 0.70rem;
  }

  .capturasPacket {
    display: flex;
    align-items:flex-start;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .capturas {
    height: 10px;
    width: 10px;
    /*margin-bottom: 5%;*/
    border-radius: 1rem;
  }
}
/*
@media (max-width: 780px) {
  .info {
    float:left;
    color: white;
    max-width: 100%;
    overflow-x: scroll;
    font-size: 0.70rem;
  }
}*/

@media (min-width: 400px) {
  .verMasBotton {
    height: 3.5rem;
    width: 12rem;
  }
}

.capturasPacket {
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

.capturas {
  height: 45%;
  width: 45%;
  /*margin-bottom: 5%;*/
  border-radius: 1rem;
}

.footNotePacket {
  text-align: center;
}

.footNote {
  margin-bottom: 2rem;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
}

.info {
  margin-left: 0;
  float:left;
  color: white;
  overflow-x: scroll;
}
/*
li { display: inline-block; font-size: 16px;}
*/
.infoUl {
  /*text-align: right;
  align-self: right;*/
  /*margin: 0;
  padding: 0;*/
  /*display: flex;*/
  margin-right: -10rem;
  padding-right: -10rem;
  max-width: 100%;
  /*align-items: right;
  justify-content: right;*/
}

.infoGeneral {
  color: white;
}

.prox {
  text-align: start;
  align-items: start;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
