.big-image {
  background-image: url("./images/RNF5.jpg");
  width: 100%;
  top: 0;
  background-size:auto;
  height: 88vh;
  background-repeat: no-repeat;
  background-position: center;
}

.overlay {
  position: absolute;
  margin-top: 0;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.fitter{
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.fab {
  display:flex;
  flex:1;
  text-align: right;
  align-self:flex-end;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 10;
  position: fixed;
  bottom: 10%;
  right: 3%;
}

.socialPacket{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 1em;
}

.socialFixed{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  font-size: 2em;
  align-self: flex-end;
  margin: 3%;
}

button {
  cursor: pointer;
}

.socialNetwork{
  margin-top: 0;
  font-size: 0.5em;
}

.social {
  height: 2em;
  width: 6em;
  border-radius: 15em;
  margin-bottom: 0;
  font-size: 2em;
}

.socialNetwork2 {
  margin-top: 0;
  font-size: 0.5em;
}

.socialEmail{
  font-size: 2em;
}

.content {
  background-image: url("./images/portfoliobg.jpg");
  position: relative;
  background-size: cover;
  background-position: 50% 50%;
}

.contentOverlay {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.65);
  color: white;
}


.overlay2 {
  position: relative;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.65);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  border-radius: 1.5em;
}

.shags {
  height: 60%;
  width: 30%;
  border-radius: 50%;
}

.container1 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color:beige;
  margin-left: 2%;
  margin-right: 2%;
  border-bottom: 2px solid black;
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 1.5em;
  background-image: url("./images/RNF8.png");
}

.container2 {
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
  flex-direction: row;
  margin-top: 0;
}

.contained2Left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-right: 0.5vw solid yellow;
}

.contained2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.category{
  display: flex;
  align-items: center;
  justify-content: center;
}

.title {
  position: sticky;
  top: 0px;
  background-color: linear-gradient(to right, black, 20%, cyan);
  border-radius: 10%;
  height: 3em;
  width: 10em;
  display: flex;
  line-height: 3em;
  text-align: center;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid yellow;
  /*FOR DIFFERENT BROWSERS*/
  /*position: -webkit-sticky.*/
}

.verMas {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.verMasBotton {
  display: inline-block;
  background-color: gray;
  border-radius: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: white;
  font-size: large;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.verMasBotton:hover {
  background-color: darkgray;
  border-radius: 5%;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  color: white;
  font-size: large;
  cursor: pointer;
}

.bothApps {
  height: 45%;
  width: 45%;
  border-radius: 1.5em;
}

.description {
  color:white;
  margin: 5vw;
}

@media (max-height: 432px) {
  .socialNetwork{
    margin-top: 0;
    font-size: 0.25em;
  }
  
  .social {
    height: 1.6em;
    width: 4.5em;
    border-radius: 15em;
    margin-bottom: 0;
    font-size: 2em;
  }

  .socialPacketFather{
    margin-top: -1.6rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 400px){
  .info {
    float:left;
    color: white;
    max-width: 100%;
    overflow-x: scroll;
    font-size: 0.70rem;
  }

}

@media (min-width: 400px) {
  .verMasBotton {
    height: 3.5rem;
    width: 12rem;
  }
}

.capturasPacket {
  display: flex;
  align-items:flex-start;
  justify-content: space-evenly;
  flex-direction: row;
}

.capturas {
  height: 45%;
  width: 45%;
  border-radius: 1rem;
}

.footNote {
  margin-bottom: 2rem;
  text-align: center;
}

.info {
  margin-left: 0;
  float:left;
  color: white;
  overflow-x: scroll;
}

.infoUl {
  margin-right: -10rem;
  padding-right: -10rem;
  max-width: 100%;
}

.infoGeneral {
  color: white;
}

.prox {
  text-align: start;
  align-items: start;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
